* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

aside {
    grid-column: span 2;
    height: 100%;
    background-color: #999999;
   
}

main{
    grid-column: span 5;
    height: 100%;
    background-color: #424a50;
    border-radius: 0px 3.75rem 0px 0px;
}


.profile_al{
  display: flex;
 justify-content: center;
 }
 .profile {
  height: 7.375rem;
  width:  7.375rem;
  border-radius: 50%;
  margin-top: 2rem;
}

aside > h1 {
  margin: 2rem 2rem;
  text-align: center;
    color: #D6DBDF;
    font-size: 1.875rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

}

aside > h2 {
    color: #eeeeee;
    font-size: 1.25rem;
    text-transform: uppercase;
    text-align: center;
    margin: 2rem 2rem;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
main > section {
    color: #eeeeee;
    font-size: 1.25rem;
}

main > h2{
   color: #fff;
   font-size: 2.5rem;

   /* Section main  */
}
.aboutMe > p{
  font-size: 1.125rem;
  color: #eeeeee;
}

.block{
      display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 1rem 2rem;
    color: #F1F8FD;
}

.institution .profissionalPosition , .course{
  font-size: 1.5625rem;
  
}
.institution{
  font-weight: bold;
}
.time{
     font-size: 1.125rem;
}

.experienceRight > p , .educationRight > p {
  font-size: 1rem;
  padding-left: 0.3125rem;
  text-align: justify;
}

